.follow_btn {
  display: flex;
  padding: 2px 8px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  width: 70px;
}

.not_found_text {
  color: #888;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "dlig" on;
  font-family: "PingFang SC";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.14px;
}

.social-image-container {
  position: relative;
  background-image: url("./socialPlaceholder.png");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  opacity: 1;
  border-radius: 8.934px;
}
/* 
.lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.lightbox-content {
  position: relative;
  margin: auto;
  padding: 20px;
  max-width: 90%;
  max-height: 80%;
  height: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.lightbox-content img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
} */

/* .lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1050;
}

.lightbox-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lightbox-content img {
  height: 70%;
  width: 100%;
  object-fit: contain;
}


.index-text {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.index-close {
  position: absolute;
  top: 26px;
  left: 20px;
  color: #fff;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.index-download {
  position: absolute;
  bottom: 26px;
  right: 20px;
  color: #fff;
  font-size: 16px;
  font-family: Arial, sans-serif;
} */

.lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999 !important;
}

.lightbox-content {
  position: relative;
  width: 100%;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* z-index: 99999 !important; */
}

.lightbox-slider {
  display: flex;
  height: 70vh;
}

.lightbox-slide {
  min-width: 100%;
  height: auto;
  user-select: none;
  pointer-events: none;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.index-close {
  position: absolute;
  top: 26px;
  left: 20px;
  color: #fff;
  font-size: 16px;
  font-family: Arial, sans-serif;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 99999;
}

.index-text {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.index-download {
  position: absolute;
  bottom: 26px;
  right: 20px;
  color: #fff;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.bottom-sheet {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 32px 32px 0px 0px;
  border: 1px solid #333;

  background-color: rgba(22, 22, 25, 0.7) !important;
  backdrop-filter: blur(40px) !important;
  -webkit-backdrop-filter: blur(40px) !important;

  z-index: 1000;
  display: flex;
  flex-direction: column;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.bottom-sheet.slide-in {
  transform: translateY(0);
  opacity: 1;
}

.bottom-sheet.slide-out {
  transform: translateY(100%);
  opacity: 0;
}

.bottom-sheet-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-sheet-option {
  width: 100%;
  padding: 20px;
  font-size: 16px;
  color: white;
  text-align: center;
  border-bottom: 0.5px solid #444;
  cursor: pointer;
}

.bottom-sheet-option:last-child {
  border-bottom: none;
}

.overlay_image {
  background: rgba(0, 0, 0, 0.6);
  z-index: 99;
  opacity: 1; /* Ensure the overlay is visible initially */
  transition: opacity 0.3s ease-out; /* Add fade-out transition */
}

.overlay_image.hidden {
  opacity: 0; /* Hide the overlay */
  pointer-events: none; /* Ensure the overlay is not clickable when hidden */
}

.bar {
  background: rgba(255, 255, 255, 0.32);
}

.pin {
  color: #777;
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "dlig" on;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.12px;
}

/* .artplayer-app {

  border-radius: 8px;
  overflow: hidden;
}

.artplayer-subtitle {
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.artplayer-controls {
  background: rgba(0, 0, 0, 0.5);
} */

/* .art-state {
  pointer-events: none !important;
}

.artplayer .artplayer-control-play,
.artplayer .artplayer-control-volume {
  display: none !important;
}
*/
.social-player .art-control-playAndPause {
  display: none !important;
}

.social-player .art-control-volume {
  display: none !important;
}

.social_des {
  color: #fff;
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "dlig" on;
  font-family: "PingFang SC";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.14px;
}

.social_nav {
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  font-family: "PingFang SC";

  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 21.6px */
  letter-spacing: -0.36px;
}

.art-notice {
  display: none !important;
}
