.top_box {
  border-radius: 16px;
  border: 1px solid var(--Stroke-Linear, rgba(205, 191, 166, 0.12));
  background: linear-gradient(
    112deg,
    rgba(0, 0, 0, 0.12) 10.86%,
    rgba(136, 128, 128, 0.04) 100%
  );
  backdrop-filter: blur(16px);
}

.integral_text {
  background: var(
    --Gold-Raidal,
    radial-gradient(50% 50% at 50% 50%, #ffc279 0%, #ffe5a0 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.progress_box {
  border-radius: 100px;
  border: 1px solid rgba(205, 191, 166, 0.12);
  background: var(
    --Blackgradient,
    linear-gradient(
      251deg,
      rgba(15, 15, 17, 0.12) 22.88%,
      rgba(62, 62, 62, 0.32) 106.55%
    )
  );
}

.activatyList {
  border-radius: 12px;
  background: linear-gradient(
    112deg,
    rgba(136, 136, 136, 0.1) 10.86%,
    rgba(68, 68, 68, 0.05) 44.18%,
    rgba(93, 90, 90, 0.06) 64.53%,
    rgba(136, 128, 128, 0.07) 100%
  );
}

.acti_amount_text {
  text-align: right;
  font-family: "PingFang SC";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18.883px; /* 118.017% */
  letter-spacing: -0.32px;
  background: var(
    --Gold-Raidal,
    radial-gradient(50% 50% at 50% 50%, #ffc279 0%, #ffe5a0 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.share_badge_box {
  border-radius: 100px;
  background: rgba(68, 68, 68, 0.12);
  box-shadow: 0px -4px 4px 0px rgba(255, 227, 130, 0.02) inset;
  padding: 4px 12px;

  gap: 10px;
  color: rgba(255, 255, 255, 0.67);
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "dlig" on;
  font-family: "PingFang SC";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 200% */
  letter-spacing: 0.1px;
}

.new_user_box {
  border-radius: 12px;
  background: var(
    --Paper-Linear,
    linear-gradient(180deg, #fff 0%, #ffecd4 100%)
  );
}

.new_date_head_text {
  background: var(
    --Gold-Linear,
    linear-gradient(180deg, #fff 0%, #ffc989 152.27%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.new_spin_button {
  border-radius: 49px;
  background: var(
    --Gold-Linear,
    linear-gradient(180deg, #fff 0%, #ffc989 152.27%)
  );
}
.new_spin_button_lock {
  border-radius: 49px;
  background: linear-gradient(
      0deg,
      rgba(119, 119, 119, 0.32) 0%,
      rgba(119, 119, 119, 0.32) 100%
    ),
    linear-gradient(180deg, #fff 0%, #ffc989 152.27%);
}

.congrat_text {
  background: var(
    --Orange-Linear,
    linear-gradient(216deg, #ff8517 16.19%, #f54100 55.29%, #ff4e00 94.38%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.congrat_accept_btn {
  border-radius: 49px;
  border: 2px solid #ffdfb1;
  background: var(
    --Paper-Linear,
    linear-gradient(180deg, #fff 0%, #ffecd4 100%)
  );
  box-shadow: 0px 7px 4px 0px #f61e0e, 0px -5px 5px 0px #ffbe82 inset,
    0px 4px 3px 0px #ffe6a4 inset;
}

.new_record_btn {
  border-radius: 8px;
  background: var(
    --Orange-Pin-k-Linear,
    linear-gradient(
      97deg,
      #ffbe92 3.5%,
      #ff4c1c 24.69%,
      rgba(239, 25, 137, 0.8) 71.84%,
      #ffb081 97.21%
    )
  );
}

.active_progress_text {
  background: var(
    --Gold-Linear,
    linear-gradient(180deg, #fff 0%, #ffc989 152.27%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.new_record_btn_head {
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(6px);
}

.new_open_task_btn {
  border-radius: 8px;
  background: linear-gradient(
      87deg,
      #ffbe92 -19.07%,
      #ff4c1c 8.31%,
      rgba(239, 25, 137, 0.8) 69.22%,
      #ffb081 102%
    ),
    var(--Nav-Linear, #fa652e);
  background-blend-mode: soft-light, normal, normal;
}

.test_congrat_line1 {
  width: 31px;
  height: 2px;
  background: linear-gradient(90deg, rgba(255, 153, 79, 0) 0%, #ff8c22 100%);
}

.test_congrat_line2 {
  width: 31px;
  height: 2px;
  background: linear-gradient(90deg, rgba(255, 153, 79, 0) 0%, #ff8c22 100%);
}

@keyframes scrollText {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.scroll-animation {
  animation: scrollText 130s linear infinite;
  /* display: inline-block; */
  white-space: nowrap;
  padding-left: 24px;
  padding-right: 48px;
}

.new_v_text_box {
  border-radius: 46px;
  background: rgba(128, 19, 18, 0.48);
}
