.login_box {
  border-radius: 32px 32px 0px 0px;
  background: #2b2b2d;
}

.whole {
  background: rgba(16, 16, 16, 0.9);
}

.drag_line {
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.8);
}

.login_button {
  border-radius: var(--Height-And-Sizes-80, 80px);
  border: 1px solid rgba(0, 149, 255, 0.12);
  background: #f54100;
}

.close_btn {
  border-radius: 1000px;
  background: rgba(255, 255, 255, 0.04);
}

.input_border {
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.6);
  border-radius: 0%;
}

.next_button {
  border-radius: var(--Height-And-Sizes-80, 80px);
  background: #393939;
}

.otp_button {
  border-radius: var(--Height-And-Sizes-80, 80px);
  background: rgba(255, 255, 255, 0.04);
}

.capt_box {
  background: rgba(255, 255, 255, 0.04);
}

.new_css_button {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.12);
}
