.loading-back {
    background:
    linear-gradient(180deg, #000000 0%, #3C3C3C 100%), linear-gradient(180deg, #343338 -2.84%, #181818 92.18%);
    ;
    margin: 0;
    font-family: Arial, sans-serif;
    /* background: #1a1a1a; */
    color: #fff;
    justify-content: center;
    align-items: center;
    height: 32vh;
    text-align: center;
  }

  .container {
    text-align: center;
  }

  .logo {
    font-size: 28px;
    margin-bottom: 10px;
  }

  .logo span {
    display: block;
    font-size: 14px;
    color: #d4af37;
  }

  .animated-line {
    width: 150px;
    height: 1.5px;
    border-radius: 100%;
    background: linear-gradient(90deg, rgba(255, 92, 0, 0) 0%, #FFA728 50%, rgba(255, 92, 0, 0) 100%);
    background-size: 200% 100%;
    animation: lineAnimation 3s infinite;
    margin: 20px auto;
  }

  @keyframes lineAnimation {
    0% {
      background-position: 100% 0;
    }
    50% {
      background-position: 50% 0;
    }
    100% {
      background-position: 0% 0;
    }
  }

  .text {
    font-size: 14px;
    color: white;
  }