.level_box {
  border-radius: 0px 15px 15px 0px;
  border: 0.75px solid #cbb5ff;
  background: #f9ddf5;
}

.balance_box {
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.04);
}

.tabs_icon {
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.12);
}

.transit_header {
  background: rgba(245, 245, 245, 0.04);
}

.transit_view_all {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.12);
}

.bitcoin_border {
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.12);
}

.transit_list {
  border-bottom: 1px solid rgba(245, 245, 245, 0.12);
}

.copy_btn {
  border-radius: 100px;
  background: var(
    --Fade-Gradient,
    linear-gradient(
      180deg,
      rgba(163, 133, 255, 0.12) 0%,
      rgba(255, 255, 255, 0.12) 100%
    )
  );
}

.types_all {
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.06);
}

.draw_canccel_btn {
  border-radius: 12px;
  background: rgba(245, 245, 245, 0.04);
}

.draw_done_btn {
  border-radius: 12px;
  background: var(
    --Purple-Gradient-2,
    linear-gradient(325deg, #cd3eff 43.64%, #ffb2e0 100%)
  );
}

.new_bal_box {
  border-radius: 20px;
  background: linear-gradient(
    99deg,
    rgba(255, 255, 255, 0.08) 22.91%,
    rgba(255, 255, 255, 0.04) 92.45%
  );
}

.bonus_text {
  background: linear-gradient(89deg, #bc68e5 42.24%, #fb3470 64.06%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Source Han Sans CN";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.3px;
}

.coin_list_box {
  border-radius: 8px;
  border: 1px solid #312648;
  background: #1e1928;
}

.coin_bonus_text {
  background: var(--Linear, linear-gradient(90deg, #bc68e5 0%, #fb3470 82.89%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.badge_bouns_pop {
  border-radius: 0px 0px 0px 8px;
  background: var(--Linear, linear-gradient(90deg, #bc68e5 0%, #fb3470 82.89%));
}

.popular_box {
  border-radius: 8px;
  border: 1px solid var(--Purple-Gradient-2, #cd3eff);
  background: #1e1928;
}

.total_pay_text {
  background: linear-gradient(315deg, #cd3eff 0%, #ffb2e0 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Helvetica Neue";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 15.456px;
  letter-spacing: 0.3px;
}

.comfirm_butoon {
  border-radius: 16px;
  background: var(
    --Purple-Gradient-2,
    linear-gradient(325deg, #cd3eff 43.64%, #ffb2e0 100%)
  );
}

.withdraw_input {
  border-bottom: 0.5px solid #888;
}

.payment_select_box {
  border-radius: 12px;
  border: 0.5px solid #888;
  background: #16131c;
}

.payment_select_box:focus {
  outline: none; /* Removes the blue border on focus */
  box-shadow: none; /* Removes any potential box-shadow applied by browser defaults */
}

.payment_select_content {
  border-radius: 17.171px 17.171px 8.585px 8.585px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  background: #121012;
  backdrop-filter: blur(8.651399612426758px);
}

option selected {
  background: transparent;
}

.comfirm_withdraw_btn {
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.04);
}

.success_state {
  border-radius: 6px;
  background: rgba(0, 255, 195, 0.12);
}

.success_text {
  color: #00ffc3;
  leading-trim: both;
  text-edge: cap;
  font-family: "Helvetica Neue";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px; /* 125% */
  letter-spacing: 0.3px;
}

.pending_state {
  border-radius: 6px;
  background: rgba(255, 247, 0, 0.12);
}

.pending_text {
  color: #fff600;
  leading-trim: both;
  text-edge: cap;
  font-family: "Helvetica Neue";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px; /* 125% */
  letter-spacing: 0.3px;
}

.failed_state {
  border-radius: 6px;
  background: rgba(255, 114, 69, 0.12);
}

.failed_text {
  color: #ff7245;
  leading-trim: both;
  text-edge: cap;
  font-family: "Helvetica Neue";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px; /* 125% */
  letter-spacing: 0.3px;
}

.income_box {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.08);
  padding: 8px 12px;
}

.red_box_wal {
  border-radius: 8px;
  background: linear-gradient(
    98.26deg,
    #ffbe92 3.43%,
    #ff4c1c 36.26%,
    #ef1989 78.53%,
    #ffb081 106.41%
  );
}

.red_popup_box {
  border-radius: 20px;
  background: #16131c;
  backdrop-filter: blur(10px);
}

.red_popup_box_head {
  color: var(--Neutral-Colors-Neutral_5, #fff);
  font-family: "Helvetica Neue";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.red_popup_box_list {
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.06);
}

.recommand_span {
  color: #230b34;
  font-family: "SF Pro Display";
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px; /* 140% */
  border-radius: 4px;
  background: var(
    --Purple-Linear,
    linear-gradient(322deg, #985fb9 18.49%, #fec9ff 55.79%, #fed6ff 84.69%)
  );
}

.coming_soon {
  font-family: "Helvetica Neue";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
  background: linear-gradient(180deg, #e59aff -25%, #ebb1ff 102.78%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.new_tran_box {
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.04);
}

.new_tran_box_title {
  color: #fff;
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "dlig" on;
  font-family: "Helvetica Neue";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
  letter-spacing: 0.16px;
  text-transform: capitalize;
}

.new_tran_filter_selected {
  border-radius: 8px;
  background: linear-gradient(
    325deg,
    rgba(205, 62, 255, 0.12) 43.64%,
    rgba(255, 178, 224, 0.12) 100%
  );
}

.wallet_upload_box {
  border-radius: 8px;
  height: 80px;
  background: rgba(255, 255, 255, 0.04);
}

.upload_plus_btn {
  border-radius: 76.364px;
  background: rgba(255, 255, 255, 0.04);
}

.with_new_btn {
  border-radius: 16px;
  background: var(
    --Purple-Gradient-2,
    linear-gradient(325deg, #cd3eff 43.64%, #ffb2e0 100%)
  );
}
