.profile-bg {
  background: url("../home/images/homebg.png") #161619 50% / contain no-repeat;
  background-position: top;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  padding-bottom: 100px;
  z-index: -1;
}

.collect_active {
  border-radius: 16px;
  background: #f54100;
}

.back-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px; /* Increase hit area width */
  height: 48px; /* Increase hit area height */
  cursor: pointer;
}

.no-spinner {
  -moz-appearance: textfield; /* Firefox */
  -webkit-appearance: none; /* Chrome, Safari, Edge */
  appearance: none; /* Standard */
}

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Remove margin for consistency */
}

.back-button svg {
  pointer-events: none; /* Ensure the hit area is the container, not the SVG */
}

.collect-btn {
  border-radius: 16px;
  display: flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  text-align: right;
  font-family: "PingFang SC";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media screen and (min-width: 600px) {
  .profile-bg {
    background-size: cover;
  }
}

.fixed-bg {
  background: #161619;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: -1;
}

.profile-header {
  display: flex;
  width: 100%;
  padding: 12px 16px;
  align-items: center;
  gap: 8px;
}

.profile-p {
  fill: var(
    --Glass,
    linear-gradient(
      112deg,
      rgba(136, 136, 136, 0.5) 10.86%,
      rgba(68, 68, 68, 0.27) 44.18%,
      rgba(93, 90, 90, 0.29) 64.53%,
      rgba(136, 128, 128, 0.33) 100%
    )
  );
  stroke-width: 1px;
  stroke: rgba(255, 255, 255, 0.12);
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}

.profile-card {
  display: flex;
  padding: 17px 16px;
  align-items: center;
  border-radius: 20px;
  background: rgba(136, 136, 136, 0.08);
  backdrop-filter: blur(12px);
}

.profile-card_point {
  display: flex;
  flex-direction: column;
  padding: 17px 16px;
  align-items: center;
  border-radius: 20px;
  background: rgba(136, 136, 136, 0.08);
  backdrop-filter: blur(12px);
}

.profile-header p {
  color: var(--White-100, #fff);
  text-align: center;
  font-family: "PingFang SC";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 137.5% */
}

.p-first {
  display: flex;
  padding: 17px 16px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.info-first {
  display: flex;
  padding: 12px 24px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 20px;
  background: #1b1b1f;
}

.info-first1 {
  padding: 24px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.info-main-first {
  background: #1b1b1f;
  border-radius: 20px !important;
}

.info-text {
  color: var(--White-100, #fff);
  font-family: "PingFang SC";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.watch_ten {
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.profile-div {
  display: flex;
  padding: 12px 16px;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
}

.setting-profile-div {
  display: flex;
  padding: 12px 16px;
  padding-bottom: 100px;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
}

.profile-div-main {
  padding: 8px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(16px);
}

.info-div-main {
  padding: 8px;
  border-radius: 20px;
}

.profile-text {
  color: var(--White-100, #fff);
  text-align: center;
  font-family: "PingFang SC";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.history-title {
  color: white;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
  opacity: 1;
}

.edit-title {
  color: var(--White-100, #fff);
  text-align: right;
  font-family: "PingFang SC";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.history-text {
  color: var(--White-100, #fff);
  font-family: "PingFang SC";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.filter-text {
  color: var(--White-40, rgba(255, 255, 255, 0.4));
  font-family: "PingFang SC";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.history-card h1 {
  color: var(--White-100, #fff);
  font-family: "PingFang SC";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.history-card p {
  color: var(--White-40, rgba(255, 255, 255, 0.4));
  font-family: "PingFang SC";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.history-card {
  display: flex;

  padding: 11px 0px;
  align-items: center;
  /* gap: 12px; */
}
.history-card img {
  width: 116px !important;
}

/* Custom styles for checkbox */
.custom-checkbox input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #161619;
  border: 2px solid #606060;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.custom-checkbox input[type="checkbox"]:checked {
  border-color: #f54100;
  background-color: #f54100;
}

/* Add SVG checkmark when checkbox is checked */
.custom-checkbox input[type="checkbox"]:checked::after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path d="M6.66674 10.1148L12.7947 3.98608L13.7381 4.92875L6.66674 12.0001L2.42407 7.75742L3.36674 6.81475L6.66674 10.1148Z" fill="white"/></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cancel-all {
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex: 1 0 0;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.04);
  background: rgba(255, 255, 255, 0.04);
  color: #fff;
  text-align: center;
  font-family: "PingFang SC";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.delete-all {
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex: 1 0 0;
  border-radius: 20px;
  background: rgba(245, 65, 0, 0.08);
  color: #f54100;
  text-align: center;
  font-family: "PingFang SC";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.confirm h2 {
  color: var(--White-100, #fff);
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;
  font-family: "PingFang SC";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.confirm button {
  text-align: center;
  font-family: "PingFang SC";
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.no_history {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-family: "PingFang SC";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 10px;
}

.settings-text {
  color: #888;
  font-family: "PingFang SC";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-transform: capitalize;
}

.settings-title {
  color: var(--White-100, #fff);
  font-family: "PingFang SC";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
  text-transform: capitalize;
}

.versions-title {
  color: #888;
  text-align: center;
  font-family: "PingFang SC";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.versions-text {
  color: #fff;
  text-align: center;
  font-family: "PingFang SC";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.logout-div {
  border-radius: 20px;
  background: #1b1b1f;
  display: flex;
  padding: 17px 0px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.logout-div h1 {
  color: var(--White-100, #fff);
  text-align: center;
  font-family: "PingFang SC";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.noti-header .act {
  border-bottom: 2px solid #f54100;
}
.noti-header div {
  padding: 8px;
}

.text-card h1 {
  color: #fff;
  font-family: "PingFang SC";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px; /* 116.667% */
  letter-spacing: -0.132px;
}

.text-card p {
  color: #bbb;
  font-family: "PingFang SC";
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.11px;
}

.noti-btn {
  display: flex;
  width: 134px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #df3b00;
  color: #f54100;
  /* font-family: Inter; */
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.132px;
}

.sidebar .active {
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  background: #f54100;
  border-bottom: none;
}

.sidebar-button {
  width: 100%;
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  color: #fff;
  text-align: center;
  font-family: "PingFang SC";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px; /* 116.667% */
  letter-spacing: -0.132px;
  margin-top: 10px;
  border-bottom: 1px solid #474747;
}

.fav_text {
  overflow: hidden;
  color: var(--White-100, #fff);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "PingFang SC";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (min-width: 575px) and (max-width: 640px) {
  .fav {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
.watchlist-item-progress {
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.progress-bar {
  height: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #f54100;
}

.his-text {
  color: #888;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  font-family: "PingFang SC";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.watchedDuration {
  color: var(--White-100, #fff);
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  font-family: "PingFang SC";
  font-size: 9px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.uid {
  color: #888;
  font-family: "PingFang SC";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 183.333% */
}

.info-main-text {
  color: #888;
  text-align: center;
  font-family: "PingFang SC";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nickname-input {
  display: flex;
  height: 58px;
  padding: 16px 18px;
  align-items: center;
  gap: var(--Height-And-Sizes-80, 80px);
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 20px;
  background: #1b1b1f;
  width: 100%;
  color: white;
}

.new-input {
  display: flex;
  width: 100%;
  /* background-color: #1b1b1f; */
  background-color: transparent;
  padding: var(--Height-And-Sizes-12, 12px) 0px 16px 0px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid #888;
  border-radius: 0%;
  color: white;
  /* font-family: Inter; */
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
}

.close-btn-input {
  flex-shrink: 0;
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 1000px;
  background: rgba(255, 255, 255, 0.04);
  position: absolute;
  top: 25px;
  right: 15px;
}

.submit_btn {
  display: flex;
  width: 100%;
  height: 48px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: var(--Height-And-Sizes-80, 80px);
  background: rgba(255, 255, 255, 0.04);
  margin-top: 60px;
  color: rgba(255, 255, 255, 0.2);
  text-align: center;
  /* font-family: Inter; */
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 157.143% */
}

.nickname-input:focus {
  outline: none;
}

.new-input:focus {
  outline: none;
}

.otp_btn {
  display: flex;
  width: 100%;
  height: 48px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: var(--Height-And-Sizes-80, 80px);
  background: rgba(255, 255, 255, 0.04);
}

.otp-input {
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  background: rgba(255, 255, 255, 0.04);
}

.bottom-sheet {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(22, 22, 25, 0.8) !important;
  backdrop-filter: blur(10px) !important;
  -webkit-backdrop-filter: blur(10px) !important;
  border-radius: 30px 30px 0px 0px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.bottom-sheet.slide-in {
  transform: translateY(0);
  opacity: 1;
}

.bottom-sheet.slide-out {
  transform: translateY(100%);
  opacity: 0;
}

.bottom-sheet-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-sheet-option {
  width: 100%;
  padding: 20px;
  font-size: 16px;
  color: white;
  text-align: center;
  border-bottom: 0.5px solid #444;
  cursor: pointer;
}

.bottom-sheet-option:last-child {
  border-bottom: none;
}

.overlay_image {
  background: rgba(0, 0, 0, 0.6);
  z-index: 99;
  opacity: 1; /* Ensure the overlay is visible initially */
  transition: opacity 0.3s ease-out; /* Add fade-out transition */
}

.overlay_image.hidden {
  opacity: 0; /* Hide the overlay */
  pointer-events: none; /* Ensure the overlay is not clickable when hidden */
}

.bind_div {
  display: flex;
  height: 58px;
  padding: 16px 18px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 20px;
  background: #1b1b1f;
}

.bind_div h1 {
  color: var(--White-100, #fff);
  font-family: "PingFang SC";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.bind_div span {
  color: #888;
  text-align: center;
  font-family: "PingFang SC";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.toast {
  background: #242428;
}

.contact-text {
  color: var(--White-100, #fff);
  font-family: "PingFang SC";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.content-link {
  color: var(--White-100, #fff);
  text-align: right;
  font-family: "PingFang SC";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
}

.contact-link-text {
  color: var(--White-100, #fff);
  text-align: center;
  font-family: "PingFang SC";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
