@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding-top: env(safe-area-inset-top); /* Respect safe areas */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif, "Inter";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1f1f21;
  /* filter: blur(10px); */
  background-repeat: no-repeat;
  background-size: contain;
}
html {
  scroll-behavior: smooth;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.video-player {
  max-height: 100%; /* Ensure the video fits properly */
}

button {
  background: none;
  /* border: none; */
  cursor: pointer;
}

/* button:hover {
  opacity: 0.8; 
} */

.loader {
  display: flex;
  justify-content: space-between;
  width: 10px;
  height: 6px;
}

.loader div {
  width: 2px;
  height: 90%;
  background-color: #ff5500; /* Adjust color to match the design */
  animation: grow 1s infinite ease-in-out;
}

.loader div:nth-child(2) {
  animation-delay: 0.1s;
}

.loader div:nth-child(3) {
  animation-delay: 0.3s;
}

@keyframes grow {
  0%,
  100% {
    transform: scaleY(0.5); /* Start small */
  }
  50% {
    transform: scaleY(1); /* Grow to full height */
  }
}

/* .video-container {
  position: relative;
  width: 100%;
}

.bg-black {
  background-color: black;
}

input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  background: gray;
  cursor: pointer;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: white;
}

input[type='range']::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: white;
} */

.ml-2 {
  margin-left: 0.5rem;
}

.text-white {
  color: white;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  background: gray;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: white;
}

input[type="range"]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: white;
}

.remove-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  border-radius: 0px;
}

.remove-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.remove-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 0px;
}

.remove-scrollbar::-webkit-scrollbar-thumb:hover {
  /* background: #1e2238; */
  background: transparent;
}
/* 
.video-react .video-react-play-progress {
  background-color: #F54100 !important;
}
.video-react .video-react-scrubber-button .video-react-scrubber-button-inner {
  border-color: #F54100 !important;
} */
.gradient-bg-home {
  background: linear-gradient(
      180deg,
      rgba(22, 22, 25, 0) 100%,
      rgba(22, 22, 25, 0) 100%
    ),
    linear-gradient(90deg, #0a5b75 0%, #4b2555 100%);
  /* background-image: url("./pages/home/images/blur.png"); */

  /* background: linear-gradient(
      180deg,
      rgba(22, 22, 25, 0) 0%,
      rgba(22, 22, 25, 0.9) 100%
    ),
    linear-gradient(90deg, #0a5b75 0%, #4b2555 100%), #161619; */
}

.home-input {
  border-radius: 18.138px;
  border: 1.008px solid var(--White-20, rgba(255, 255, 255, 0.2));
  background: rgba(255, 255, 255, 0.1);
  color: var(--White-60, rgba(255, 255, 255, 0.6));
  font-family: "PingFang SC";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  display: flex;
  height: 36px;
  padding: 8.062px 16.123px;
  align-items: center;
  gap: 4px;
}

/* Add this to your global CSS */
.no-scroll-auth {
  overflow: hidden;
}

.home-bg {
  height: 100vh;
  padding-bottom: 100px;
  z-index: -1;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #161619;
  background-image: url("./pages/home/images/homebg.png");
  background-repeat: no-repeat;
  background-size: contain;
  /* margin-top: 50px; */
}

@media screen and (min-width: 470px) {
  .home-bg {
    background-size: cover;
  }
}

.home-label {
  border-radius: 4px;
  background: linear-gradient(180deg, #ff6332 0%, #ffa132 100%);
  display: flex;
  padding: 1px 6px 2px 6px;
  align-items: flex-start;
  gap: 10px;
  color: var(--White-100, #fff);
  text-align: right;
  font-family: "PingFang SC";
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.home-sub-title {
  color: var(--White, #fff);
  font-family: "PingFang SC";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.vjs-control-bar {
  background-color: transparent !important;
}

.vjs-play-control {
  /* display: none !important; */
}

.vjs-subs-caps-button {
  display: none;
}

.vjs-play-progress {
  background-color: #ff5722 !important;
}

.vjs-big-play-button {
  width: 2em !important;
  background: #000000a1 !important;
  font-size: 2em !important;
  border-radius: 10px !important;
}

.plyr--full-ui input[type="range"] {
  color: rgba(245, 65, 0, 1) !important;
}

.plyr--video .plyr__control:hover {
  background: transparent !important;
}

.art-video-player .art-progress-played {
  background: rgba(245, 65, 0, 1) !important;
}
.art-video-player .art-progress-indicator {
  background: rgba(245, 65, 0, 1) !important;
}

@keyframes scrollText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.warning {
  display: flex;
  overflow: hidden;
  padding: 10px;
  background-color: rgba(31, 31, 34, 1);
  border-radius: 10px;
  color: white;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.warning-content {
  display: flex;
  white-space: nowrap;
  animation: scrollText 15s linear infinite;
}

.warning-text {
  padding-right: 100px; /* Adds space between repeated text */
}

.warning::before,
.warning::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100px;
  pointer-events: none;
}

.warning::before {
  left: 0;
  background: linear-gradient(
    to right,
    rgba(31, 31, 34, 1) 10%,
    transparent 100%
  );
  z-index: 20;
}

.warning::after {
  right: 0;
  background: linear-gradient(
    to left,
    rgba(31, 31, 34, 1) 10%,
    transparent 100%
  );
  z-index: 20;
}

.low-res-image {
  background-size: cover;
  filter: blur(10px); /* Add some blur effect */
  transition: opacity 0.3s ease-in-out;
}

.image-placeholder {
  transition: opacity 0.3s ease-in-out;
}

.comment-btn {
  position: fixed;
  bottom: 0px;
  margin-bottom: 5px;
  box-shadow: 3px 10px 1px 1px #000000;
}

.popup-custom {
  width: 100%;
  color: white;
  position: fixed;
  bottom: 0px;
  text-align: center;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

.popup-item {
  width: 100%;
  border-bottom: 1px solid #474747;
  padding: 10px 0px;
}

.cancel-btn {
  width: 100%;
  margin-top: -1px;
  padding: 10px 0px;
  border-top: 8px solid #161619;
  margin-bottom: 30px;
}

input[type="radio"]:checked {
  border-color: red;
  background-size: 100% 100%;
}

.rank1-bg {
  background: linear-gradient(180deg, #ff1f47 0%, #ff326f 100%);
}
.rank2-bg {
  background: linear-gradient(180deg, #ff480e 0%, #ff5c00 100%);
}
.rank3-bg {
  background: linear-gradient(180deg, #ff6332 0%, #ffa132 100%);
}

.art-bottom .art-progress .art-control-progress .art-control-progress-inner {
  margin-left: 10px;
  margin-right: 10px;
}

.art-controls {
  margin-left: 5px;
  margin-right: 10px;
}

.img_a {
  position: relative;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 16 / 22 !important;
}

.movie_img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image fills the container without distortion */
}

.to-black {
  --tw-gradient-to: #00000075 var(--tw-gradient-to-position) !important;
}

.link-copy {
  border: 2px solid #4e4e4eba;
  backdrop-filter: blur(10px);
  background: radial-gradient(black, transparent);
}

.cus-elips {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* width: 80%; */
}

.art-control-time {
  padding: 0px 15px !important;
}

.pause-btn {
  position: absolute;
  z-index: 9999;
  margin-top: 23%;
  margin-left: 40%;
}