@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.video-player {
  max-height: 100%; /* Ensure the video fits properly */
}

button {
  background: none;
  /* border: none; */
  cursor: pointer;
}

button:hover {
  opacity: 0.8; /* Add a hover effect */
}

.loader {
  display: flex;
  justify-content: space-between;
  width: 12px;
  height: 10px;
}

.loader div {
  width: 2px;
  height: 90%;
  background-color: #ff5500; /* Adjust color to match the design */
  animation: grow 1s infinite ease-in-out;
}

.loader div:nth-child(2) {
  animation-delay: 0.1s;
}

.loader div:nth-child(3) {
  animation-delay: 0.3s;
}

@keyframes grow {
  0%,
  100% {
    transform: scaleY(0.5); /* Start small */
  }
  50% {
    transform: scaleY(1); /* Grow to full height */
  }
}

/* .video-container {
  position: relative;
  width: 100%;
}

.bg-black {
  background-color: black;
}

input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  background: gray;
  cursor: pointer;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: white;
}

input[type='range']::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: white;
} */

.ml-2 {
  margin-left: 0.5rem;
}

.text-white {
  color: white;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  background: gray;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: white;
}

input[type="range"]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: white;
}

.remove-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  border-radius: 0px;
}

.remove-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.remove-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 0px;
}

.remove-scrollbar::-webkit-scrollbar-thumb:hover {
  /* background: #1e2238; */
  background: transparent;
}
/* 
.video-react .video-react-play-progress {
  background-color: #F54100 !important;
}
.video-react .video-react-scrubber-button .video-react-scrubber-button-inner {
  border-color: #F54100 !important;
} */
.gradient-bg-home {
  background: linear-gradient(
      180deg,
      rgba(22, 22, 25, 0) 0%,
      rgba(22, 22, 25, 0.9) 100%
    ),
    linear-gradient(90deg, #0a5b75 0%, #4b2555 100%), #161619;
}

.vjs-control-bar {
 background-color: transparent !important; 
}

.vjs-play-control {
  /* display: none !important; */
}

.vjs-subs-caps-button {
  display: none;
}

.vjs-play-progress {
  background-color: #FF5722 !important;
}

.vjs-big-play-button {
    width: 2em !important;
    background: #000000a1 !important;
    font-size: 2em !important;
    border-radius: 10px !important;
}

.artplayer-container {
  width: 100%;
  height: calc(100vw * (9 / 16)); /* Example: For a 16:9 aspect ratio */
}

.plyr--full-ui input[type=range] {
  color: #FF5722 !important;
}

.plyr--video .plyr__control:hover {
  background: transparent !important;
}